<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
            connectionString="Data Source=SQL5052.site4now.net;Initial Catalog=DB_A6DB5B_Manual;User Id=DB_A6DB5B_Manual_admin;Password=31210528rG"
            providerName="System.Data.SqlClient" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.ManualConnectionString"
            connectionString="Data Source=DESKTOP-5AS3T3I;Initial Catalog=Manual;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
